
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "_variables";

@mixin border_shadow(){
		-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	}

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

	nav{
		background-color:$primary_color !important;
		a{
			color:$font_color !important;
			&:hover,&:focus{
				background-color:$hover_color !important;
			}
			
		}
		.dropdown-menu{
				background-color:$hover_color !important;
		}
			

		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
			background-color:$primary_color !important;
			
		}

		.icon-bar{
				background-color:$font_color !important;
			}
	}

.micontainer{
	background-color:transparent;
	margin-top:60px;
	margin-bottom:60px;

}
#add{
	label{
		color:#333;
	}
}

#article{
	color:#ccc;
}

#home{

	.post-title{

		    display: inline-block;
		    width:100%;
		    background-color:#34ca78;
		    vertical-align: bottom;
		    z-index: 2;
		    height:20vh;
		    position: relative;
		b{
		    background-color: rgba(51, 51, 51, 0.58);
		    display: inline-block;
		    margin-bottom: 5px;
		    color: #FFF;
		    padding: 10px 15px;
		    margin-top: 5px;
		}
	}
	.panel{
	@include border_shadow();
	border-radius:0px;
	border:none;
	background-color:#000;
		.panel-footer{
			background-color:transparent !important;
			color:$font_color;
			border:none;
			a{
				color:$font_color;
			}
		}
	}

}
footer{
	background-color:#000;
	color:#fff;
	padding:10px;
	font-weight:bolder;
}

@import "_phone";
@import "_tablet";
@import "_desktop";
@import "_tv";

